*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  background: #141313;
}

.app {
  width: 580px;
  height: 180vh;
  margin: 0 auto 300px;
  background-color: rgb(43, 52, 56);
}

/* ---- Navbar and Display style ---- */

.navBar {
  display: flex;
  margin: auto;
  justify-content: center;
  margin: auto;
  padding: 12px;
  margin-bottom: 30px;
  border-bottom: 3px solid rgb(34, 44, 46);
}

.navBar li {
  display: flex;
  margin: 0 2rem 0;
  margin-top: 5px;
  color: #dfdede;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'roboto';
}

span {
  content: '';
  height: 2px;
  width: 55px;
  top: 63px;
  background: rgb(204, 59, 40, 0.856);
  color: #c7c7c7;
  margin-left: 460px;
  display: flex;
  position: absolute;
  transition: 0.2s;
}

.display {
  display: block;
  justify-content: center;
  align-items: center;
  width: 380px;
  margin: auto;
}

.display h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-family:'roboto', sans-serif; ;
  font-size: 25pt;
  color: #c7c7c7;
  margin: auto;
}

.display p {
  display: flex;
  justify-content: center;
  width: 200px;
  margin-bottom: 30px;
  margin-left: 95px;
  font-family: 'roboto', sans-serif;
  color: #706f6f;
}

.chevLeft {
  display: flex;
  position: absolute;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 22px;
  color: #494747b9;
}

.chevRight{
  display: flex;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 347px;
  margin-top: -33px;
  color: #494747b9;
}

/* ---- Form style */
 
form {
  display: flex;
  justify-content: center;
  justify-content: center;
  margin-bottom: 30px;
  border: 2px solid rgb(34, 44, 46);
  padding: 30px;
}

form input {
  width: 430px;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: #cac9c9;
  background-color: rgb(30, 44, 49);
  border: 1px solid #1b1a1a;
  outline: 0;
}

form button {
  width: 60px;
  background-color: rgb(30,44, 49);
  border: 1px solid #1b1a1a;
  color: #8a8282;
  cursor: pointer;
}

/* ---- Task List Style ----*/

input[type="checkbox"] {
  width: 35px;
  height: 17px;
  margin-right: 15px;
  accent-color: rgb(30, 44, 48);
  cursor: pointer;
}

.checkBtn {
  width: 70px;
  height: 20px;
  margin-left: 250px;
  margin-bottom: 40px;
  background-color: rgb(30, 44, 48);
  color: #8a8282;
  border: 1px solid #1b1a1a;
  cursor: pointer;
}

.task-list {
  display: flex;
  width: 510px;
  justify-content: center;
  justify-items: center;
  padding: 8px;
  margin-left: 36px;
  margin-bottom: 10px;
  color: #dad1d1;
}

div.task-list p {
  display: flex;
  align-items: center;
  margin: 0;
  width: 350px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'roboto';
  color: #bebebe;
  cursor: pointer;
}

div .task-list .period {
  display: flex;
  justify-content: end;
  width: 70px;
  font-size: 13px;
  color: #b1b0b0;
}

.task-list .date {
  display: flex;
  justify-content: end;
  width: 110px;
  margin-right: 20px;
  font-weight:400px;
  font-size: 13px;
}

.pencil {
  display: flex;
  width: 30px;
  height: 20;
  margin-right: 5px;
  color: rgb(94, 109, 114);
  cursor: pointer;
}

.trash {
  display: flex;
  width: 30px;
  align-items: center;
  justify-content: space-between;
  color: rgb(94, 109, 114);
  margin-left: 5px;
  cursor: pointer;
}

